.home-page{
    height: 1200px; display: flex; align-items: center; justify-content: center;
}

.resume{
    width: 800px;
    height: auto;
}

@media screen and (max-width: 800px) {
    .home-page{
        height: auto;
    }
    .resume{
        width: 90%;
        margin-top: 50px;
    }
}